<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicequipmentbooking">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicEquipmentBooking">
        <activity
            android:name=".Adrian.StudentConfirmReturnActivity"
            android:exported="true" />
        <activity
            android:name=".Adrian.StudentReturnAdapter"
            android:exported="true" />
        <activity
            android:name=".Adrian.StudentReturnActivity"
            android:exported="true" />
        <activity
            android:name=".Ryan.StudentProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Adrian.BorrowActivity"
            android:exported="true" />
        <activity
            android:name=".Adrian.ReturnInsTeacherCheckActivity"
            android:exported="true" />
        <activity
            android:name=".Adrian.ReturnInsTeacherAdapter"
            android:exported="true" />
        <activity
            android:name=".Adrian.ReturnInsTeacherActivity"
            android:exported="true" />
        <activity
            android:name=".Alden.InstrumentReturnProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Adrian.TeacherProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Alden.InstrumentReturnActivity"
            android:exported="false" />
        <activity
            android:name=".Alden.InstrumentsList"
            android:exported="false" />
        <activity
            android:name=".Alden.InstrumentsListActivity"
            android:exported="false" />
        <activity
            android:name=".Ryan.AddInstrumentsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Alden.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>